body{
  margin: 0
}
.med{
  background-color: #EAF6F6;
}
.csean{
  position: relative;
  left: 70px;
  top: 40px;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.h1{
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 50px;
  color: #66BFBF;
}
.h2{
  text-align: center;
  color: #66BFBF;
}
.cloud{
  position: relative;
  left: 400px;
  bottom: 10px;
}
.moun{
  position: relative;
  bottom: 49px;
  left: 400px;
}
.cloud2{
  float: right;
  position: relative;
  right: 400px;
}
hr{
  border: dotted #E9DAC1 6px;
  border-bottom: none;
  width: 4%;

}
.student5{

}
.helo{
  text-align: center;
  color: #66BFBF;
}
.p1{
  text-align: center;
  color: #40514E;
}
.toh{
  color: #66BFBF;
  text-align: center;

}
.computer{

  width: 180px;
}
.h3{
  color: #66BFBF;

}
.development{
  text-align: ;

  top: 30px;
  height: 60px;
  width: 500px;
}
.thh3{
  color: #11999E;
  position: relative;
  left: 300px;
}
.chillies{
  width: 150px;
  float: right;
  position: relative;
  right:300px;
  bottom: 120px;
}
.fp{
  height: 60px;
  width:600px;
}
.get{
  font-size: 40px;
  color: #66BFBF;
  text-align: center;
}
.hr2{
  border: dotted #E9DAC1 6px;
  border-bottom: none;
  width: 4%;

}
.if{
  color: #11999E;
  text-align: center;
}
.love{
  width: 490px;
  text-align: center;

}
.d33{
  background-color: #66BFBF;
  height: 100px;
}
a{
  text-decoration: none;
  color: #11999E;
  font-size: 18px;
}
.website{

}
.twitter{
  ;
}
.linkedin{

}
.coby{
  color: #EAF6F6;


}
